<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div class="form-group">
    <label for="topic">Topic</label>
    <input class="form-control"
           name="topic"
           formControlName="topic">
    <div class="alert alert-danger"
         *ngIf="topic?.errors && (topic?.touched || topic?.dirty)">
      <p>This is required</p>
    </div>
  </div>
  <div class="form-group">
    <label for="competency">Competency Area</label>
    <select class="form-control"
            name="competency"
            formControlName="competency">
      <option>Unconscious Incompetence</option>
      <option>Conscious Incompetence</option>
      <option>Conscious Competence</option>
      <option>Unconscious Competence</option>
    </select>
    <div class="alert alert-danger"
         *ngIf="competency?.errors && (competency?.touched || competency?.dirty)">
      <p>This is required</p>
    </div>
  </div>
  <div class="form-group">
    <label for="notes">Notes</label>
    <textarea class="form-control"
              name="notes"
              formControlName="notes">

    </textarea>
  </div>
  <button type="submit"
          class="btn btn-success">Add This</button>
</form>
